<?xml version="1.0"?>
<config>
    <modules>
        <BlueMedia_BluePayment>
            <version>1.3.7</version>
        </BlueMedia_BluePayment>
    </modules>
    <global>
        <blocks>
            <bluepayment>
                <class>BlueMedia_BluePayment_Block</class>
            </bluepayment>
        </blocks>
        <models>
            <bluepayment>
                <class>BlueMedia_BluePayment_Model</class>
            </bluepayment>
        </models>
        <helpers>
            <bluepayment>
                <class>BlueMedia_BluePayment_Helper</class>
            </bluepayment>
        </helpers>
        <resources>
            <bluepayment_setup>
                <setup>
                    <module>BlueMedia_BluePayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bluepayment_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <bluepayment>
                <use>standard</use>
                <args>
                    <module>BlueMedia_BluePayment</module>
                    <frontName>bluepayment</frontName>
                </args>
            </bluepayment>
        </routers>
        <translate>
            <modules>
                <BlueMedia_BluePayment>
                    <files>
                        <default>BlueMedia_BluePayment.csv</default>
                    </files>
                </BlueMedia_BluePayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <bluepayment>
                    <file>bluepayment.xml</file>
                </bluepayment>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <BlueMedia_BluePayment>
                    <files>
                        <default>BlueMedia_BluePayment.csv</default>
                    </files>
                </BlueMedia_BluePayment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <bluepayment>
                <active>0</active>
                <model>bluepayment/abstract</model>
                <encoding>UTF</encoding>
                <title>Online payment BM</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <test_address_url>https://pay-accept.bm.pl/payment</test_address_url>
                <prod_address_url>https://pay.bm.pl/payment</prod_address_url>
                <hash_algorithm>sha256</hash_algorithm>
                <hash_separator>|</hash_separator>
            </bluepayment>
        </payment>
    </default>
</config>
