<?xml version="1.0"?>
<config>
    <modules>
        <BlueMedia_BluePayment>
            <version>1.4.4</version>
        </BlueMedia_BluePayment>
    </modules>
    <global>
        <blocks>
            <bluepayment>
                <class>BlueMedia_BluePayment_Block</class>
            </bluepayment>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_info>BlueMedia_BluePayment_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <bluepayment>
                <class>BlueMedia_BluePayment_Model</class>
                <resourceModel>bluepayment_mysql4</resourceModel>
            </bluepayment>
            <bluepayment_mysql4>
                <class>BlueMedia_BluePayment_Model_Mysql4</class>
                <entities>		  
                    <bluegateways>
                        <table>blue_gateways</table>
                    </bluegateways>
                </entities>
            </bluepayment_mysql4>
        </models>
        <helpers>
            <bluepayment>
                <class>BlueMedia_BluePayment_Helper</class>
            </bluepayment>
        </helpers>
        <resources>
            <bluepayment_setup>
                <setup>
                    <module>BlueMedia_BluePayment</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bluepayment_setup>
            <bluepayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bluepayment_write>
            <bluepayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bluepayment_read>
        </resources>
        
        <events>
            <sales_order_place_after>
                <observers>
                    <bluepayment>
                        <type>singleton</type>
                        <class>bluepayment/observer</class>
                        <method>saveBmGatewayId</method>
                    </bluepayment>
                </observers>
            </sales_order_place_after>
        </events>
        
    </global>
    <admin>
        <routers>
            <bluepayment>
                <use>admin</use>
                <args>
                    <module>BlueMedia_BluePayment</module>
                    <frontName>admin_bluepayment</frontName>
                </args>
            </bluepayment>
        </routers>
    </admin>
    <frontend>
        <routers>
            <bluepayment>
                <use>standard</use>
                <args>
                    <module>BlueMedia_BluePayment</module>
                    <frontName>bluepayment</frontName>
                </args>
            </bluepayment>
            <checkout>
                <args>
                    <modules>
                        <bluemedia_bluepayment before="Mage_Checkout">BlueMedia_BluePayment</bluemedia_bluepayment>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <BlueMedia_BluePayment>
                    <files>
                        <default>BlueMedia_BluePayment.csv</default>
                    </files>
                </BlueMedia_BluePayment>
            </modules>
        </translate>
        <layout>
            <updates>
                <bluepayment>
                    <file>bluepayment.xml</file>
                </bluepayment>
            </updates>
        </layout>
        


                

    </frontend>
    <adminhtml>
        <menu>
            <bluepayment module="bluepayment">
                <title>BluePayment</title>
                <sort_order>100</sort_order>
                <children>
                    <bluegateways module="bluepayment">
                        <title>Manage Bluegateways</title>
                        <sort_order>0</sort_order>
                        <action>admin_bluepayment/adminhtml_bluegateways</action>
                    </bluegateways>
                </children>
            </bluepayment>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <bluepayment translate="title" module="bluepayment">
                            <title>BluePayment</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <bluegateways translate="title">
                                    <title>Manage Bluegateways</title>
                                    <sort_order>0</sort_order>
                                </bluegateways>
                            </children>
                        </bluepayment>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <bluepayment>
                    <file>bluepayment.xml</file>
                </bluepayment>
            </updates>
        </layout>
        <translate>
            <modules>
                <BlueMedia_BluePayment>
                    <files>
                        <default>BlueMedia_BluePayment.csv</default>
                    </files>
                </BlueMedia_BluePayment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <bluepayment>
                <active>0</active>
                <model>bluepayment/abstract</model>
                <encoding>UTF</encoding>
                <title>Online payment BM</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <test_address_url>https://pay-accept.bm.pl/payment</test_address_url>
                <prod_address_url>https://pay.bm.pl/payment</prod_address_url>
                <test_address_gateways_url>https://pay-accept.bm.pl/paywayList</test_address_gateways_url>
                <prod_address_gateways_url>https://pay.bm.pl/paywayList</prod_address_gateways_url>
                <hash_algorithm>sha256</hash_algorithm>
                <hash_separator>|</hash_separator>
                <addjquery>1</addjquery>
            </bluepayment>            
        </payment>
    </default>
    <crontab>
        <jobs>
            <bluepayment_sync>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>bluepayment/sync::syncGateways</model>
                </run>
            </bluepayment_sync>
        </jobs>
    </crontab>
</config>
